:root{
    /* definindo cores padrão do projeto no arquivo global css */
    /* --text-primary: #fff;
    --text-secundary: #7D5A50;
    --button: #D2691E;
    --background: #F5EDE1 ;
    --header: #105BAB; */
}

*{
    color: var(--text-primary); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    -webkit-font-smoothing: antialiased;
    background-color: #454545;
}